.header-name {
  color: var(--bright-text-color);
  transform: skew(-10deg);
  font-size: 27px;
  margin-top: 22px;
  margin-bottom: 30px;
  padding-left: 6px;
  letter-spacing: 2px;
  word-spacing: -6px;
}