footer {
  background-color: var(--dark-button-color);
  color: var(--bright-text-color);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 87px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 15px 20px;
  font-size: 12px;
}