:root {
    --dark-button-color: #363636;
    --red-button-color: #C93333;
    --dark-text-color: #000000;
    --bright-text-color: #FFFFFF;
    --background-color: #D9D9D9;
    --bright-background-color: #FFFFFF;
}

body {
    font-family: Inter, Arial;
    background-color: var(--background-color);
}

.body-wrapper {
    text-align: center;
}

.header-name {
    color: var(--bright-text-color);
    transform: skew(-10deg);
    font-size: 26px;
    margin-bottom: 40px;
}

footer {
    background-color: var(--dark-button-color);
    color: var(--bright-text-color);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 87px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 15px 20px;
    font-size: 12px;
}