.profile {
    background-color: var(--bright-background-color);
    margin: 14px 40px 16px 40px;
    border-radius: 20px;
}

.profile-header {
    margin: 0;
    padding: 10px 0;
    font-weight: 400;
    letter-spacing: -1px;
    margin-bottom: 23px;
}

.profile-content {
    text-align: start;
    margin-left: 70px;
    padding-bottom: 30px;
}

.profile-picture {
    display: inline-block;
    width: 20%;
}

.profile-picture img {
    width: 100%;
}

.profile-text {
    display: inline-block;
    line-height: 5px;
    vertical-align: top;
    padding: 15px 20px;
}

.profile-buttons {
    margin-top: 10px;
}

.profile-buttons button {
    background-color: var(--dark-button-color);
    color: var(--bright-text-color);
    border: none;
    width: 120px;
    height: 25px;
    border-radius: 13px;
    cursor: pointer;
}